name: PYPI-CI

on:
  push:
    branches: [ main ]

jobs:
  testing:
    runs-on: ubuntu-latest
    env:
      DB_URL: ${{ secrets.DB_URL }}
      PF_ACCOUNT: ${{ secrets.PF_ACCOUNT }}
      PF_API_KEY: ${{ secrets.PF_API_KEY }}
      PF_TOKEN: ${{ secrets.PF_TOKEN }}

    steps:
      - name: Git Clone
        uses: actions/checkout@v1

      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Install package
        run: python setup.py install 

      - name: Start unit tests
        run: python -m unittest discover -s tests/ -p 'test_*.py'

  
  deploy:
    runs-on: ubuntu-latest
    needs: [testing]

    steps:
      - name: Git Clone
        uses: actions/checkout@v1

      - name: Preparing
        run: |
          python setup.py sdist
          rm -rf planfix_py.egg-info
          
      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: LD31D
          password: ${{ secrets.PYPI_PASSWORD }}
          verbose: true
